<?xml version="1.0" encoding="utf-8"?>
<!-- Attention, Activate a function should be checked First with Debug Options -->
<Configuration>
    <debug>true</debug>
    <Form Size="350,350" Text="Template" />
    <LogFile Name="Default" Path="C:\Windows\Logs" />
    <Setting1 Name="Value" Type="Value" />
</Configuration>